@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply
      animate-[lightBackground_10s_infinite]
      dark:animate-[darkBackground_10s_infinite]
  }

  .BoxMenu {
    @apply
    animate-[lightMenuBackground_10s_infinite]
    dark:animate-[darkMenuBackground_10s_infinite]
  }

  .text_hover {
    @apply text-zinc-800 hover:text-zinc-500 dark:text-white dark:hover:text-zinc-300
  }

  .text_color {
    @apply text-zinc-800 dark:text-white
  }
}