@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply
      animate-background
      bg-gradient-to-r from-[#f0e7db] to-zinc-400
      dark:bg-gradient-to-r dark:from-[#202023] dark:to-[#8a6e4a]
      bg-[length:500%_500%] transition [animation-duration:_10s]
  }

  .bodyMenu {
    @apply
      animate-background
      bg-gradient-to-r from-zinc-400 to-[#f0e7db]
      dark:bg-gradient-to-r dark:from-[#8a6e4a] dark:to-[#202023]
      bg-[length:500%_500%] transition [animation-duration:_10s]
  }

  .text_hover {
    @apply text-zinc-800 hover:text-zinc-500 dark:text-white dark:hover:text-zinc-300
  }

  .text_color {
    @apply text-zinc-800 dark:text-white
  }
}